/**************TAGS***********/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #EAF6F6;
}

h1 {
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-height: 2;
  font-size: 5.625rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  text-decoration: none;
}

.subtitle {
    line-height: 4;
}

.top-container {
  background-color: #66BFBF;
  color: #EAF6F6;
  position: relative;
  padding-top: 362px;
  margin-bottom: 100px;
}

.top-cloud {
  position: absolute;
  right: 440px;
  top: 220px;
}

.bottom-cloud {
  position: absolute;
  left: 350px;
}

.middle-container {
  color: #66BFBF;
  padding-bottom: 60px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.html-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.customer-service-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.hr-0 {
  border-style: dotted none none none;
  border-width: 5px;
  border-color: red;
  width: 25%;
  margin-top: 40px;
  margin-bottom: 100px;
}

.hr-1 {
  border-style: dotted none none none;
  border-width: 5px;
  border-color: red;
  width: 25%;
  margin-top: 100px;
  margin-bottom: 80px;
}

.hr-2 {
  border-style: dotted none none none;
  border-width: 5px;
  border-color: red;
  width: 25%;
  margin-top: 240px;
  margin-bottom: 100px;
}

.btn {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 14px;
}

.bottom-container {
  background-color: #66BFBF;
  color: #EAF6F6;
}

.black-font {
  color: #000000;
}

.footer-link {
  color: #008CBA;
  margin-right: 10px;
  margin-left: 10px;
}
